@import "../../variables.css";
@import "../../mixins.css";

.testcase {
  &__trace {
    border-top: 1px solid $border-color;
    padding-top: 10px;
    margin-top: 10px;
    display: none;
    &_visible {
      display: block;
    }
  }
  &__trace-toggle {
    margin-top: 5px;
    text-align: center;
    padding-top: 5px;
    color: $text-muted-color;
    &:hover {
      background-color: $hover-color;
    }
  }
  &__severity {
    color: $color-canceled;
  }
  &__failure {
    padding-bottom: 10px;
  }
  &__tabs {
    list-style-type: none;
    position: relative;
    top: -1px;
    background: #fff;
    border-bottom: 1px solid $border-accent-color;
    padding: 0;
    margin: 0;
  }
  &__tab {
    display: inline-block;
    font-size: 16px;
    & > a {
      display: inline-block;
      padding: calc($gap-size / 2) $gap-size;
      border-bottom: 3px solid transparent;
      &:hover {
        border-bottom-color: $border-color;
      }
    }
    &_active > a {
      &, &:hover {
        border-bottom-color: $text-color;
      }
    }
  }
}

.testcase__failure_expanded > .testcase__trace {
  display: block;
}

.message {
  border-bottom: 3px solid;
  @mixin status-border;
}